<!doctype HTML>
{% extends 'base.html' %}
{% block title %}Visualize machine learning algorithms{% endblock %}
{% block header %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="regress-tab" data-toggle="tab" href="#regress" role="tab" aria-controls="regression" aria-selected="true">Linear Regression</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="classify-tab" data-toggle="tab" href="#classify" role="tab" aria-controls="classify" aria-selected="false">Classification</a>
    </li>
</ul>
{% endblock %}
{%block main%}
<div class="tab-content h-100">
    <div id="regress" class="container-fluid h-100 tab-pane active">
        <div class="row h-100">
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <label for="polynomial">Polynomial Degree</label>
                        <div id="poly-selector" class="btn-group btn-group-toggle btn-group-lg" data-toggle="buttons" role="group" aria-label="polynomial-degree-selector">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="polynomial" id="linear" value="1" checked> x
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="polynomial" id="quadratic" value="2"> x<sup>2</sup>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="polynomial" id="cubic" value="3"> x<sup>3</sup>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Learning Rate</label>
                        <input type="range" class="custom-range" id="alpha" min="1" max="50" step="1">
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Iterations</label>
                        <input type="range" class="custom-range" id="iters" min="100" max="10000" step="1">
                    </div>
                </form>
            </div>
            <div class="col-md-10 h-100 pr-0">
                <div id="regress-container" class="chart-container">
                    <!-- <canvas id="regress-plot"></canvas> -->
                </div>
            </div>
        </div>
    </div>
    <div id="classify" class="container-fluid h-100 tab-pane">
        <div class="row h-100">
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <label for="set">Active Set</label>
                        <div id="set-selector" class="btn-group btn-group-toggle btn-group" data-toggle="buttons" role="group" aria-label="polynomial-degree-selector">
                            <label class="btn btn-outline-primary active">
                                <input type="radio" name="set" id="set0" value="0" checked>Set 1
                            </label>
                            <label class="btn btn-outline-primary">
                                <input type="radio" name="set" id="set1" value="1">Set 2
                            </label>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="customRange1">Learning Rate</label>
                        <input type="range" class="custom-range" id="alpha" min="1" max="50" step="1">
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Iterations</label>
                        <input type="range" class="custom-range" id="iters" min="100" max="5000" step="1">
                    </div> -->
                </form>
            </div>
            <div class="col-md-10 h-100">
                <div id="classify-container" class="chart-container">
                    <!-- <canvas id="classify-plot"></canvas> -->
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block js%}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script> -->
<script src="{{ url_for('static', filename='libraries/d3/d3.min.js') }}"></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>
<script src="{{ url_for('static', filename='scatter_chart.js') }}"></script>
<script src="{{ url_for('static', filename='d3_classify.js') }}"></script>

<!-- <script src="{{ url_for('static', filename='plot.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='regress.js') }}"></script>
<script src="{{ url_for('static', filename='classify.js') }}"></script> -->
<script src="{{ url_for('static', filename='main.js') }}"></script>

{%endblock%}
