<!doctype HTML>
{% extends 'base.html' %}
{% block title %}Visualize machine learning algorithms{% endblock %}
{% block header %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#linear" role="tab" aria-controls="home" aria-selected="true">Linear Regression</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#classification" role="tab" aria-controls="profile" aria-selected="false">Classification</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
</ul>
{% endblock %}
{%block main%}
<div class="tab-content h-100">
    <div id="linear" class="container-fluid h-100 tab-pane active">
        <div class="row h-100">
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <label for="polynomial">Polynomial Degree</label>
                        <div id="poly-selector" class="btn-group btn-group-toggle btn-group-lg" data-toggle="buttons" role="group" aria-label="polynomial-degree-selector">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="polynomial" id="linear" value="1" checked> x
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="polynomial" id="quadratic" value="2"> x<sup>2</sup>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="polynomial" id="cubic" value="3"> x<sup>3</sup>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Learning Rate</label>
                        <input type="range" class="custom-range" id="alpha" min="1" max="50" step="1">
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Iterations</label>
                        <input type="range" class="custom-range" id="iters" min="100" max="10000" step="1">
                    </div>
                </form>
            </div>
            <div class="col-md-10 h-100">
                <div class="chart-container">
                    <canvas id="plotter"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div id="classification" class="container-fluid h-100 tab-pane active">
        <div class="row h-100">
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <label for="polynomial">Test test</label>
                        <div id="poly-selector" class="btn-group btn-group-toggle btn-group-lg" data-toggle="buttons" role="group" aria-label="polynomial-degree-selector">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="polynomial" id="linear" value="1" checked> x
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="polynomial" id="quadratic" value="2"> x<sup>2</sup>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="polynomial" id="cubic" value="3"> x<sup>3</sup>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Learning Rate</label>
                        <input type="range" class="custom-range" id="alpha" min="1" max="50" step="1">
                    </div>
                    <div class="form-group">
                        <label for="customRange1">Iterations</label>
                        <input type="range" class="custom-range" id="iters" min="100" max="10000" step="1">
                    </div>
                </form>
            </div>
            <div class="col-md-10 h-100">
                <div class="chart-container">
                    <canvas id="plotter"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block js%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{%endblock%}
